<h1 mat-dialog-title> Add Customer Form </h1>
<div mat-dialog-content>
   <form [formGroup]="CustomerForm">
    <mat-form-field appearance="outline">
        <mat-label>Customer FirstName</mat-label>
        <input formControlName="firstName" matInput placeholder="firstName" maxlength="50">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Customer LastName</mat-label>
        <input formControlName="lastName" matInput placeholder="lastName" maxlength="50">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="Email" matInput placeholder="Email" maxlength="100">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input formControlName="Phone" matInput placeholder="Phone" maxlength="10" minlength="10" pattern="[0-9]*">
      </mat-form-field>
   </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="Primary" (click)="addCustomer()">{{actionBtn}}</button>
    <button style=" margin-left: 8px;" mat-raised-button color="warn" mat-dialog-close>Cancel</button>
</div>
